

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentAbsence</title>
    <style>
        :root {
            --main-color: #8e44ad;
            --red: #e74c3c;
            --oragen: #f39c12;
            --white: #fff;
            --black: #2c3e50;
            --light-color: #888;
            --light-bg: #eee;
            --border: .1rem solid rgba(0,0,0,.2);
        }

        * {
            font-family: 'Nunito', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
        }

            *::selection {
                background-color: var(--main-color);
                color: #fff;
            }

            *::-webkit-scrollbar {
                height: .5rem;
                width: 1rem;
            }

            *::-webkit-scrollbar-track {
                background-color: transparent;
            }

            *::-webkit-scrollbar-thumb {
                background-color: var(--main-color);
            }

        html {
            font-size: 62.5%;
            overflow-x: hidden;
        }

        body {
            background-color: #daebff;
            padding-left: 30rem;
        }

            body.active {
                padding-left: 0;
            }

        section {
            padding: 2rem;
            max-width: 1200px;
            margin: 0 auto;
        }

        .btn,
        .option-btn,
        .delete-btn,
        .inline-btn,
        .inline-option-btn,
        .inline-delete-btn {
            border-radius: .5rem;
            padding: 1rem 3rem;
            font-size: 1.8rem;
            color: #fff;
            margin-top: 1rem;
            text-transform: capitalize;
            cursor: pointer;
            text-align: center;
        }

        .btn,
        .option-btn,
        .delete-btn {
            display: block;
            width: 100%;
        }

        .inline-btn,
        .inline-option-btn,
        .inline-delete-btn {
            display: inline-block;
        }

        .btn,
        .inline-btn {
            background-color: var(--main-color);
        }

        .option-btn,
        .inline-option-btn {
            background-color: var(--oragen);
        }

        .delete-btn,
        .inline-delete-btn {
            background-color: var(--red);
        }

            .btn:hover,
            .option-btn:hover,
            .delete-btn:hover,
            .inline-btn:hover,
            .inline-option-btn:hover,
            .inline-delete-btn:hover {
                background-color: var(--black);
                color: var(--white);
            }

        .flex-btn {
            display: flex;
            gap: 1rem;
        }

        .header {
            background-color: var(--white);
            border-bottom: var(--border);
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

            .header .flex {
                padding: 1.5rem 2rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

                .header .flex .logo {
                    font-size: 2.5rem;
                    color: var(--black);
                    font-weight: bolder;
                }

                .header .flex .search-form {
                    height: 75px;
                    width: 50rem;
                    border-radius: .5rem;
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    padding: 1rem 2rem;
                    background-color: var(--light-bg);
                }

                    .header .flex .search-form input {
                        width: 100%;
                        background: none;
                        font-size: 2rem;
                        color: var(--black);
                    }

                    .header .flex .search-form button {
                        font-size: 2.5rem;
                        color: var(--black);
                        cursor: pointer;
                        background: none;
                    }

                        .header .flex .search-form button:hover {
                            color: var(--main-color);
                        }

                .header .flex .icons div {
                    font-size: 2rem;
                    color: var(--black);
                    border-radius: .5rem;
                    height: 4.5rem;
                    cursor: pointer;
                    width: 4.5rem;
                    line-height: 4.4rem;
                    background-color: var(--light-bg);
                    text-align: center;
                    margin-left: .5rem;
                    float: left;
                }

                    .header .flex .icons div:hover {
                        background-color: var(--black);
                        color: var(--white);
                    }

        #search-btn {
            display: none;
        }

        .header .flex .profile {
            position: absolute;
            top: 120%;
            right: 2rem;
            background-color: var(--white);
            border-radius: .5rem;
            padding: 2rem;
            text-align: center;
            width: 30rem;
            transform: scale(0);
            transform-origin: top right;
            transition: .2s linear;
        }

            .header .flex .profile.active {
                transform: scale(1);
            }

            .header .flex .profile img {
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: .5rem;
            }

            .header .flex .profile h3 {
                font-size: 2rem;
                color: var(--black);
            }

            .header .flex .profile span {
                color: var(--light-color);
                font-size: 1.6rem;
            }


        .side-bar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 30rem;
            background-color: var(--white);
            border-right: var(--border);
            z-index: 1200;
        }

            .side-bar .close-side-bar {
                text-align: right;
                padding: 2rem;
                padding-bottom: 0;
                display: none;
            }

                .side-bar .close-side-bar i {
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.4rem;
                    font-size: 2.5rem;
                    color: #fff;
                    cursor: pointer;
                    background-color: #ff70bc;
                    text-align: center;
                    border-radius: .5rem;
                }

                    .side-bar .close-side-bar i:hover {
                        background-color: var(--black);
                    }

            .side-bar .profile {
                padding: 3rem 2rem;
                text-align: center;
            }

                .side-bar .profile img {
                    height: 10rem;
                    width: 10rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: .5rem;
                }

                .side-bar .profile h3 {
                    font-size: 2rem;
                    color: var(--black);
                }

                .side-bar .profile span {
                    color: var(--light-color);
                    font-size: 1.6rem;
                }

            .side-bar .navbar a {
                display: block;
                padding: 2rem;
                margin: .5rem 0;
                font-size: 1.8rem;
            }

                .side-bar .navbar a i {
                    --fa-primary-color: #fb8ede;
                    --fa-secondary-color: #fb8ede;
                    margin-right: 1.5rem;
                    transition: .2s linear;
                }

                .side-bar .navbar a span {
                    color: var(--light-color);
                }

                .side-bar .navbar a:hover {
                    background-color: var(--light-bg);
                }

                    .side-bar .navbar a:hover i {
                        margin-right: 2.5rem;
                    }

            .side-bar.active {
                left: -31rem;
            }

        .footer {
            position: sticky;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: var(--white);
            border-top: var(--border);
            padding: 2.5rem 2rem;
            text-align: center;
            color: var(--black);
            font-size: 12px;
            margin-top: 65rem;
            z-index: 1000;
        }

        .myDiv {
            background-color: #e499fb;
            height: 14px;
            width: 100%;
            top: 3px;
            position: relative;
            font-size: 10px;
        }

        main.table {
            background-color: #fff;
            width: 100%;
            border-style: groove;
            border-collapse: collapse; /* Bu satır, tablo kenarlarının birleşmesini sağlar */
        }

        thead th {
            position: relative;
            background-color: #ffc5fcfe;
            text-align: left;
            font-size: small;
            bottom: 8px;
        }

        table {
            width: 100%;
            table-layout: fixed; /* Tablo hücrelerinin eşit genişlikte olmasını sağlar */
        }

        td, th {
            padding: 8px; /* Hücreler arasında boşluk ekler */
            border: 1px solid #ddd; /* Hücre kenarlarına çizgi ekler */
            word-wrap: break-word; /* Uzun kelimelerin taşmasını önler */
        }















        media (max-width:1200px) {
            body

        {
            padding-left: 0;
        }

        .side-bar {
            transition: .2s linear;
            left: -30rem;
        }

            .side-bar.active {
                left: 0;
                box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
            }

            .side-bar .close-side-bar {
                display: block;
            }

        }


        media (max-width:991px) {
            html

        {
            font-size: 55%;
        }

        }

        media (max-width:768px) {
            #search-btn

        {
            display: inline-block;
        }

        .header .flex .search-form {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            width: auto;
            border-top: var(--border);
            border-bottom: var(--border);
            background-color: var(--white);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: .2s linear;
        }

            .header .flex .search-form.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

        }

        media (max-width:450px) {
            html

        {
            font-size: 50%;
        }
        }
    </style>
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="~/Home/Student" class="logo">Stumes</a>
            <form action="" method="post" class="search-form">
                <input type="text" name="search_box" placeholder="search courses..."
                       required maxlength="100">
                <button type="submit" class="fas fa-search" name="search_box"></button>


            </form>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
            </div>
            <div class="profile">
                <img src="https://p7.hiclipart.com/preview/129/94/328/computer-icons-avatar-icon-design-male-teacher.jpg">
                <h1>Welcome, @ViewBag.UserName!</h1>
                <label>User ID: @ViewBag.UserID</label>
                <a href="~/Home/Student" class="btn">view profile</a>
                <div class="flex-btn">
                    <a href="~/Home/Giris" class="option-btn">logout</a>
                </div>
            </div>
        </section>
    </header>

    <div class="myDiv">
        <h2>Percentage of Absence</h2>
    </div>
    <main class="table">
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Lesson Name</th>
                        <th>Lesson ID</th>
                        <th>Week 1</th>
                        <th>Week 2</th>
                        <th>Week 3</th>
                        <th>Week 4</th>
                        <th>Week 5</th>
                        <th>Week 6</th>
                        <th>Week 7</th>
                        <th>Week 8</th>
                        <th>Week 9</th>
                        <th>Week 10</th>
                        <th>Week 11</th>
                        <th>Week 12</th>
                        <th>Week 13</th>
                        <th>Week 14</th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="16">Veri bulunamadı.</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var absence in Model)
                        {
                            <tr>
                                <td>@absence.dersadi</td>
                                <td>@absence.dersid</td>
                                <td>@absence.week1</td>
                                <td>@absence.week2</td>
                                <td>@absence.week3</td>
                                <td>@absence.week4</td>
                                <td>@absence.week5</td>
                                <td>@absence.week6</td>
                                <td>@absence.week7</td>
                                <td>@absence.week8</td>
                                <td>@absence.week9</td>
                                <td>@absence.week10</td>
                                <td>@absence.week11</td>
                                <td>@absence.week12</td>
                                <td>@absence.week13</td>
                                <td>@absence.week14</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </section>
    </main>


    <div class="side-bar">

        <div class="close-side-bar">
            <i class="fa-solid fa-square-xmark"></i>
        </div>
        <div class="profile">
            <img src="https://p7.hiclipart.com/preview/129/94/328/computer-icons-avatar-icon-design-male-teacher.jpg" alt="">
            <h1>Welcome, @ViewBag.UserName!</h1>
            <label>User ID: @ViewBag.UserID</label>
            <a href="~/Home/Student" class="btn">view profile</a>
        </div>

        <nav class="navbar">
            <a href="~/Home/Student"><i class="fa-duotone fa-circle"></i><span>Home</span></a>
            <a href="~/Home/StudentAverage"><i class="fa-duotone fa-circle"></i><span>Grade Average</span></a>
            <a href="~/Home/StudentSyllabus"><i class="fa-duotone fa-circle"></i><span>Syllabus</span></a>
            <a href="~/Home/StudentAbsence"><i class="fa-duotone fa-circle"></i><span>Absence</span></a>
            <a href="~/Home/StudentExam"><i class="fa-duotone fa-circle"></i><span>Results of Exam</span></a>
            <a href="~/Home/StudentExamSchedule"><i class="fa-duotone fa-circle"></i><span>Exam Schedule</span></a>
            <a href="~/Home/StudentHomework"><i class="fa-duotone fa-circle"></i><span>Assignment</span></a>
        </nav>
    </div>

    <footer class="footer">
        &copy; copyright 2024 | all rights reserved!
    </footer>

    <script>
        let body = document.body;

        let profile = document.querySelector('.header .flex .profile');

        document.querySelector('#user-btn').onclick = () => {
            profile.classList.toggle('active');
            searchForm.classList.remove('active');
        }

        let searchForm = document.querySelector('.header .flex .search-form');

        document.querySelector('#search-btn').onclick = () => {
            searchForm.classList.toggle('active');
            profile.classList.remove('active');
        }

        let sideBar = document.querySelector('.side-bar');

        document.querySelector('#menu-btn').onclick = () => {
            sideBar.classList.toggle('active');
            body.classList.toggle('active');
        }

        document.querySelector('.side-bar .close-side-bar').onclick = () => {
            sideBar.classList.remove('active');
            body.classList.remove('active');
        }

        window.onscroll = () => {
            profile.classList.remove('active');
            searchForm.classList.remove('active');

            if (window.innerWidth < 1200) {
                sideBar.classList.remove('active');
                body.classList.remove('active');
            }
        }
    </script>

</body>
</html>
