@model List<mezunprojesi.Controllers.TeacherExam>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentAverage</title>
    <style>
        :root {
            --main-color: #8e44ad;
            --red: #e74c3c;
            --oragen: #f39c12;
            --white: #fff;
            --black: #2c3e50;
            --light-color: #888;
            --light-bg: #eee;
            --border: .1rem solid rgba(0,0,0,.2);
        }

        * {
            font-family: 'Nunito', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
        }

            *::selection {
                background-color: var(--main-color);
                color: #fff;
            }

            *::-webkit-scrollbar {
                height: .5rem;
                width: 1rem;
            }

            *::-webkit-scrollbar-track {
                background-color: transparent;
            }

            *::-webkit-scrollbar-thumb {
                background-color: var(--main-color);
            }

        html {
            font-size: 62.5%;
            overflow-x: hidden;
        }

        body {
            background-color: #daebff;
            padding-left: 30rem;
        }

            body.active {
                padding-left: 0;
            }

        section {
            padding: 2rem;
            max-width: 1200px;
            margin: 0 auto;
        }

        .btn,
        .option-btn,
        .delete-btn,
        .inline-btn,
        .inline-option-btn,
        .inline-delete-btn {
            border-radius: .5rem;
            padding: 1rem 3rem;
            font-size: 1.8rem;
            color: #fff;
            margin-top: 1rem;
            text-transform: capitalize;
            cursor: pointer;
            text-align: center;
        }

        .btn,
        .option-btn,
        .delete-btn {
            display: block;
            width: 100%;
        }

        .inline-btn,
        .inline-option-btn,
        .inline-delete-btn {
            display: inline-block;
        }

        .btn,
        .inline-btn {
            background-color: var(--main-color);
        }

        .option-btn,
        .inline-option-btn {
            background-color: var(--oragen);
        }

        .delete-btn,
        .inline-delete-btn {
            background-color: var(--red);
        }

            .btn:hover,
            .option-btn:hover,
            .delete-btn:hover,
            .inline-btn:hover,
            .inline-option-btn:hover,
            .inline-delete-btn:hover {
                background-color: var(--black);
                color: var(--white);
            }

        .flex-btn {
            display: flex;
            gap: 1rem;
        }

        .header {
            background-color: var(--white);
            border-bottom: var(--border);
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

            .header .flex {
                padding: 1.5rem 2rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

                .header .flex .logo {
                    font-size: 2.5rem;
                    color: var(--black);
                    font-weight: bolder;
                }

                .header .flex .search-form {
                    height: 75px;
                    width: 50rem;
                    border-radius: .5rem;
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    padding: 1rem 2rem;
                    background-color: var(--light-bg);
                }

                    .header .flex .search-form input {
                        width: 100%;
                        background: none;
                        font-size: 2rem;
                        color: var(--black);
                    }

                    .header .flex .search-form button {
                        font-size: 2.5rem;
                        color: var(--black);
                        cursor: pointer;
                        background: none;
                    }

                        .header .flex .search-form button:hover {
                            color: var(--main-color);
                        }

                .header .flex .icons div {
                    font-size: 2rem;
                    color: var(--black);
                    border-radius: .5rem;
                    height: 4.5rem;
                    cursor: pointer;
                    width: 4.5rem;
                    line-height: 4.4rem;
                    background-color: var(--light-bg);
                    text-align: center;
                    margin-left: .5rem;
                    float: left;
                }

                    .header .flex .icons div:hover {
                        background-color: var(--black);
                        color: var(--white);
                    }

        #search-btn {
            display: none;
        }

        .header .flex .profile {
            position: absolute;
            top: 120%;
            right: 2rem;
            background-color: var(--white);
            border-radius: .5rem;
            padding: 2rem;
            text-align: center;
            width: 30rem;
            transform: scale(0);
            transform-origin: top right;
            transition: .2s linear;
        }

            .header .flex .profile.active {
                transform: scale(1);
            }

            .header .flex .profile img {
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: .5rem;
            }

            .header .flex .profile h3 {
                font-size: 2rem;
                color: var(--black);
            }

            .header .flex .profile span {
                color: var(--light-color);
                font-size: 1.6rem;
            }


        .side-bar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 30rem;
            background-color: var(--white);
            border-right: var(--border);
            z-index: 1200;
        }

            .side-bar .close-side-bar {
                text-align: right;
                padding: 2rem;
                padding-bottom: 0;
                display: none;
            }

                .side-bar .close-side-bar i {
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.4rem;
                    font-size: 2.5rem;
                    color: #fff;
                    cursor: pointer;
                    background-color: #ff70bc;
                    text-align: center;
                    border-radius: .5rem;
                }

                    .side-bar .close-side-bar i:hover {
                        background-color: var(--black);
                    }

            .side-bar .profile {
                padding: 3rem 2rem;
                text-align: center;
            }

                .side-bar .profile img {
                    height: 10rem;
                    width: 10rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: .5rem;
                }

                .side-bar .profile h3 {
                    font-size: 2rem;
                    color: var(--black);
                }

                .side-bar .profile span {
                    color: var(--light-color);
                    font-size: 1.6rem;
                }

            .side-bar .navbar a {
                display: block;
                padding: 2rem;
                margin: .5rem 0;
                font-size: 1.8rem;
            }

                .side-bar .navbar a i {
                    --fa-primary-color: #fb8ede;
                    --fa-secondary-color: #fb8ede;
                    margin-right: 1.5rem;
                    transition: .2s linear;
                }

                .side-bar .navbar a span {
                    color: var(--light-color);
                }

                .side-bar .navbar a:hover {
                    background-color: var(--light-bg);
                }

                    .side-bar .navbar a:hover i {
                        margin-right: 2.5rem;
                    }

            .side-bar.active {
                left: -31rem;
            }

        .footer {
            position: sticky;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: var(--white);
            border-top: var(--border);
            padding: 2.5rem 2rem;
            text-align: center;
            color: var(--black);
            font-size: 12px;
            margin-top: 65rem;
            z-index: 1000;
        }

        .myDiv {
            background-color: #e499fb;
            height: 16px;
            width: 100%;
            top: 12px;
            position: relative;
            font-size: 8px;
            margin-right: 5%;
            border-radius: 2px;
        }

        .myDiv2 {
            background-color: #faffb3;
            height: 16px;
            width: 100%;
            top: 50px;
            position: relative;
            font-size: 8px;
            margin-left: 0;
            border-radius: 2px;
        }

        main.table, main.table3 {
            background-color: white;
            width: 90%;
            max-width: 800px;
            height: auto;
            min-height: 400px;
            border-style: groove;
            padding: 15px;
            overflow: auto;
            margin: 50px auto;
            border-radius: 10px;
        }

        thead th {
            position: relative;
            width: 100%;
            background-color: #d5d1defe;
            padding: 20px;
            top: 1rem;
        }

        tbody td {
            padding: 10px;
            border: 1px solid #00000017;
        }

        main.table2, main.table4 {
            background-color: white;
            width: 90%;
            max-width: 800px;
            height: auto;
            min-height: 160px;
            border-style: groove;
            padding: 10px;
            overflow: auto;
            margin: 5px auto;
            border-radius: 10px;
        }

        .myDiv3 {
            background-color: #faffb3;
            height: 16px;
            width: 100%;
            top: 50px;
            position: relative;
            font-size: 8px;
            margin-left: 0;
            border-radius: 2px;
        }











        media (max-width:1200px) {
            body

        {
            padding-left: 0;
        }

        .side-bar {
            transition: .2s linear;
            left: -30rem;
        }

            .side-bar.active {
                left: 0;
                box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
            }

            .side-bar .close-side-bar {
                display: block;
            }

        }


        media (max-width:991px) {
            html

        {
            font-size: 55%;
        }

        }

        media (max-width:768px) {
            #search-btn

        {
            display: inline-block;
        }

        .header .flex .search-form {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            width: auto;
            border-top: var(--border);
            border-bottom: var(--border);
            background-color: var(--white);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: .2s linear;
        }

            .header .flex .search-form.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

        }

        media (max-width:450px) {
            html

        {
            font-size: 50%;
        }
        }
    </style>
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="home.html" class="logo">Stumes</a>
            <form action="" method="post" class="search-form">
                <input type="text" name="search_box" placeholder="search courses..."
                       required maxlength="100">
                <button type="submit" class="fas fa-search" name="search_box"></button>


            </form>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
            </div>
            <div class="profile">
                <img src="https://p7.hiclipart.com/preview/129/94/328/computer-icons-avatar-icon-design-male-teacher.jpg">
                <h3>Student Name</h3>
                <span>Student Number</span>
                <a href="profile.html" class="btn">view profile</a>
                <div class="flex-btn">
                    <a href="login.html" class="option-btn">logout</a>
                </div>
            </div>
        </section>
    </header>

    <div class="myDiv">
        <h2>EXAM AVERAGE</h2>
    </div>

    <div class="myDiv2">
        <h2>2023-2024 First Semester</h2>
    </div>
    <main class="table">
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Midterm Result</th>
                        <th>Final Result</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exam in Model)
                    {
                        <tr>
                            <td>@exam.lessonid</td>
                            <td>@exam.lessonname</td>
                            <td>@exam.midtermresult</td>
                            <td>@exam.finalresult</td>
                            <td>@exam.average</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
    <main class="table2">
        <section class="table_body2">
            <table>
                <thead>
                    <tr>
                        <th>Credit</th>
                        <th>Semester average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">30</td>
                        <td style="text-align: center;">@ViewBag.SemesterAverage</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <div class="myDiv3">
        <h2>2023-2024 Second Semester</h2>
    </div>
    <main class="table3">
        <section class="table_body3">
            <table>
                <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Midterm Result</th>
                        <th>Final Result</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exam in Model)
                    {
                        <tr>
                            <td>@exam.lessonid</td>
                            <td>@exam.lessonname</td>
                            <td>@exam.midtermresult</td>
                            <td>@exam.finalresult</td>
                            <td>@exam.average</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
    <main class="table4">
        <section class="table_body4">
            <table>
                <thead>
                    <tr>
                        <th>Credit</th>
                        <th>Semester average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">30</td>
                        <td style="text-align: center;">2,00</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>



    <div class="side-bar">

        <div class="close-side-bar">
            <i class="fa-solid fa-square-xmark"></i>
        </div>
        <div class="profile">
            <img src="https://p7.hiclipart.com/preview/129/94/328/computer-icons-avatar-icon-design-male-teacher.jpg" alt="">
            <h3>Student Name</h3>
            <span>Student Number</span>
            <a href="profile.html" class="btn">view profile</a>
        </div>

        <nav class="navbar">
            <a href="final_project.html"><i class="fa-duotone fa-circle"></i><span>Home</span></a>
            <a href="exam.html"><i class="fa-duotone fa-circle"></i><span>Results of Exam</span></a>
            <a href="syllabus.html"><i class="fa-duotone fa-circle"></i><span>Syllabus</span></a>
            <a href="absence.html"><i class="fa-duotone fa-circle"></i><span>Absence</span></a>
            <a href="average.html"><i class="fa-duotone fa-circle"></i><span>Grade Average</span></a>
            <a href="exam_schedule.html"><i class="fa-duotone fa-circle"></i><span>Exam Schedule</span></a>
            <a href="assignment.html"><i class="fa-duotone fa-circle"></i><span>Assignment</span></a>
        </nav>
    </div>

    <footer class="footer">
        &copy; copyright 2024 | all rights reserved!
    </footer>

    <script>
        let body = document.body;

        let profile = document.querySelector('.header .flex .profile');

        document.querySelector('#user-btn').onclick = () => {
            profile.classList.toggle('active');
            searchForm.classList.remove('active');
        }

        let searchForm = document.querySelector('.header .flex .search-form');

        document.querySelector('#search-btn').onclick = () => {
            searchForm.classList.toggle('active');
            profile.classList.remove('active');
        }

        let sideBar = document.querySelector('.side-bar');

        document.querySelector('#menu-btn').onclick = () => {
            sideBar.classList.toggle('active');
            body.classList.toggle('active');
        }

        document.querySelector('.side-bar .close-side-bar').onclick = () => {
            sideBar.classList.remove('active');
            body.classList.remove('active');
        }

        window.onscroll = () => {
            profile.classList.remove('active');
            searchForm.classList.remove('active');

            if (window.innerWidth < 1200) {
                sideBar.classList.remove('active');
                body.classList.remove('active');
            }
        }
    </script>
</body>
</html>
